<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="client"
          class="wo_spring_realization.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="John Smith"/>
    </bean>

    <bean id="eventLogger" class="wo_spring_realization.loggers.ConsoleEventLogger"/>

    <bean id="app"
          class="wo_spring_realization.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileEventLogger"/>
    </bean>

    <bean id="event"
            class="wo_spring_realization.Event"
            scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean id="dateFormat"
                  class="java.text.DateFormat"
                  factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

    <bean id="cacheFileEventLogger"
          class="wo_spring_realization.loggers.CacheFileEventLogger"
          init-method="init"
          destroy-method="destroy">
        <constructor-arg value="log.txt"/>
        <constructor-arg value="3"/>
    </bean>
</beans>